<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    <header class="main-header">
      <nav class="main-nav" role="navigation">
        <ul class="wrapper">
          <li><a href="/">home</a></li>
          <li><a href="/articles.html">articles</a></li>
          <li><a href="/contact.html">contact</a></li>
        </ul>
      </nav>
      <div class="feature">
        {% include front-page-meta.html %}
      </div>
    </header>
    <main id="main" role="main">

      {{ content }}

      {% include footer.html %}

    </main>

    {% include sidebar.html %}
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- build:js(app) /js/scripts.js -->
    <script src="/js/compiled.min.js"></script>
    <!-- endbuild -->
  </body>
</html>
