html {
  font-size: 62.5%;
}
body {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: $base-font-stack;
  font-size: 16px;
  line-height: 1.5;
  color: $gray;
}

h1, .h1
h2, .h2,
h3, .h3
h4, .h4 {

}

a {
  text-decoration: none;
  color: currentColor;
}

h2 a {
  border-bottom: 2px solid currentColor;

}
p a {
  position: relative;
  color: $gray;
  text-decoration: none;
  border-bottom: 2px solid transparent;

  &:hover,
  &:focus {
    &:after {
      bottom: -1px;
      height: 10%;
    }
  }

  &:after {
    display: inline-block;
    content: '';
    position: absolute;
    bottom: -1px;
    left: -4%;
    z-index: -1;
    height: 30%;
    width: 108%;
    background-color: rgba($green, 0.25);
    transition: bottom 0.25s, height 0.25s;
  }
}

p {
  margin: 0 0 1.85em 0;
  font-size: 1.8rem;

  @include mq(m) {
    font-size: 2rem;
    line-height: 1.8;
  }
}
p a {}
