html{
  font-size : 62.5%;
  -webkit-overflow-scrolling : touch;
  -webkit-tap-highlight-color : lighten($green, 75%);
  -webkit-text-size-adjust : 100%;
  -ms-text-size-adjust : 100%;
}
body{
  margin : 0;
  padding : 0;
  width : 100%;
  background-color : transparent;
  font-family : $basefont;
  @include font-size();
  line-height : $baselineheight;

  font-weight: 400;
  color: $gray;
}
article a,
footer a{
  color: $gray;
  text-decoration: none;
  background: $lightgreen;
  transition: all .2s;
  &:hover{
    background: none;
  }
}
nav ul{
  margin: 5px 0 0 24px;
  padding: 0;
  @include font-size(14);
  li{
    list-style: none;
    margin-bottom: 8px;
  }
  a{
    color: $gray;
    text-decoration: none;
    transition: all .2s;
    &:hover{
      background: $lightgreen;
    }
  }
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.avatar{
  position: absolute;
  right: 0;
  width: 130px;
  margin-right: 20px;
  img{
    width: 130px;
  }
}


#top-header,
footer{
  max-width: 1000px;
  margin: 0 auto;
}
#articles{
  max-width: 700px;
  margin: 0 auto;
}
article{
  position: relative;
  margin-bottom: 70px;
  margin-right: 40px;
  @include font-size(18);
  line-height: 2em;
  .content{
    padding: 0 20px;
    position: relative;
    p{
      margin: 2.1em 0;
      color: lighten($gray, 1%);
    }
  }
  h2{
    @include font-size(24);
    margin-bottom: 10px;
    a{
      background: transparent;
    }
  }
  .introduction{
    color: lighten($gray, 20%);
    @include font-size(18);
  }
  .date{
    margin-top: 20px;
  }
}
.index article,
.tag article{
  padding: 0 20px;
  a{
    transition: all .2s;
    &:hover{
      color: lighten($gray, 20%);
    }
  }
}
.post{
  .date{
    display: none;
  }
  .introduction{
    font-weight: 200;
  }
}
.index article,
.article-header,
.tag article{
  border-left: 10px solid $green;
  padding: 0 20px;
}
#top-header{
  position: relative;
  margin-top: 30px;
  margin-bottom: 80px;
  min-height: 130px;
  h1{
    display: none;
    @include font-size();
    text-align: right;
    max-width: 520px;
    font-weight: 400;
  }
  .colophon{
    float: right;
    margin-right: 180px;
  }
}

footer{
  padding: 20px;
  @include font-size(14);
  max-width: 700px;
}
.announcement{
  background: #17afdb;
  max-width: 34em;
  display: none;
  margin: 8px auto;
  padding: 4px 0;
  text-align: center;
  transition: all .2s;
  @include font-size(14);
  border-radius: 20px;
  a{
    color: #fff;
    text-decoration: none;
    transition: all .2s;
  }
  &:hover{
    background: transparent;
    a{
      color: #17afdb;
    }
  }
  i{
    margin-right: 10px;
  }
}
.alert{
  background: $lightgreen;
  &:hover{
    cursor: pointer;
  }
}

.tags,
.twitter{
  display: none;
}

// code snippets form gist
.gist-meta{
  display: none;
}
.gist{
  @include font-size(14);
  line-height: 1.5em;
}
