footer {
  margin-top: 80px;
  padding-bottom: 36px;

  .container:before {
    display: inline-block;
    content: '';
    width: 36px;
    height: 1px;
    margin-bottom: 16px;
    background-color: rgba($gray-light, 0.5);
  }
  p {
    margin: 0;
    font-size: 1rem;
    min-height: 24px;
  }
}
