.header {
  padding: 36px 0;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include mq(s) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

.header__title {
  flex: 1;
  margin: 0;
  line-height: 1;
  font-size: 1.8rem;
  width: 100%;

  a {
    transition: color 0.175s ease-out;

    span {
      padding-right: 16px;
      transition: padding 0.175s ease-out,
                  color 0.175s ease-out,
                  margin 0.175s ease-out;
    }

    &:hover,
    &:focus,
    &:active {
      color: $green;

      span {
        margin-left: -10px;
        padding-right: 10px;
        color: $green;
      }
    }
  }
}
