.nav {
  position: absolute;
  display: inline-block;
  top: 14px;
  right: calc(30px - 1em);

  @include mq(s) {
    position: relative;
    top: auto;
    right: auto;
  }
}
.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__item {
  display: inline-block;
  margin: 0 1em;

  a {
    transition: color 0.175s ease-out;
  }
  a:hover,
  a:focus,
  a:active {
    color: $green;
  }
}
