<footer role="contentinfo">
    <hr>
    <p>This site was built with <a href="https://11ty.dev" rel="external">Eleventy</a>. The source is available on <a href="https://github.com/ckollars/christopherkollars" rel="external">Github</a>.
    <br>Question, comments or problems with the site, <a href="https://github.com/ckollars/christopherkollars/issues" rel="external">submit an issue</a>.</p>
    <ul>
        <li><a href="https://www.twitter.com/ckollars" rel="external">@ckollars</a></li>
    </ul>
</footer>