---
layout: base.njk
---

{% block content %}
    <div class="page {{ page.fileSlug}}">
      <div class="wrapper ">
        <div class="content flow prose">
          {{ content | safe }}
          </div>
      </div>
    </div>
{% endblock %}
