---
layout: layouts/base.njk
---

{% block content %}
    <div class="page {{ page.fileSlug}} flow">
      <div class="container">
        {# <h1>{{ title }}</h1> #}
        {{ content | safe }}
      </div>
    </div>
{% endblock %}
