body {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper {
  margin-inline: auto;
  width: var(--wrapper-width);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.repel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: var(--repel-vertical-alignment, center);
  gap: var(--gutter, var(--space-s-l));
}

.c-hero {
  padding: 4rem 0;
}

footer {
  margin-top: auto;
  padding: 1rem 0;
}

.horizontal-list {
  margin: 0;
  padding: 0.5rem 0;

  > li {
    display: inline-block;
    margin: 0 1rem;

    &:first-child {
      margin-left: 0;
    }
  }
}

.ultra-pink {
  margin-inline: auto;
  width: 80vw;
  height: 80vh;
  background-color: oklch(70.88% 0.335 337.76);
}

.c-playground {
  padding-top: 2rem;
}
