body {
  background-color: var(--bg);
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  --padding-inline: 2rem;

  width: min($wrapper, 100% - (var(--padding-inline)*2));
  margin-inline: auto;
}

.c-hero {
  padding: 4rem 0;
}

footer {
  margin-top: auto;
  padding: 1rem 0;
}

.horizontal-list {
  margin: 0;
  padding: 0.5rem 0;

  > li {
    display: inline-block;
    margin: 0 1rem;

    &:first-child {
      margin-left: 0;
    }
  }
}


.resume {
  padding: 4rem;
  max-width: $wrapper-sm;
}

.ultra-pink {
  margin-inline: auto;
  width: 80vw;
  height: 80vh;
  background-color: oklch(70.88% 0.335 337.76);
}

.c-playground {
  padding-top: 2rem;
}
