@font-face {
  font-family: 'Jost';
  src: url('../fonts/jost.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-bold.woff2') format('woff2');
  font-display: swap;
}

body {
  font-family: $body;
  color: var(--text-color);

  @media (min-width: $md) {
    font-size: 1.2rem;
  }

  @media (min-width: $lg) {
    font-size: 1.4rem;
  }
}

p,
ul,
ol {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading;
  font-weight: $bold;
}

p {
  line-height: 1.85rem;
}

a {
	color: var(--text-color-link);
  text-decoration-thickness: 0.07em;
  transition:
    color 0.125s ease-in-out,
    text-decoration-color 0.250s ease-in-out,
    text-underline-offset 0.250s ease-in-out;
  text-decoration-style: wavy;
  text-underline-offset: 0.15rem;

  &:visited {
    color: var(--text-color-link-visited);
  }
  &:hover,
  &:active {
    color: var(--text-color-link-active);
    text-decoration-color: var(--text-color-link-active);
    text-underline-offset: 0.05rem;
  }
}

h1 {
  margin-bottom: 1.55rem;
  font-size: 2.2rem;
}

h2 {
  position: relative;;
  margin-top: 4.2rem;
  margin-bottom: 1.35rem;
  font-size: 2.1rem;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-weight: $std;
}

em {
  .resume & {
    font-size: 1rem;
  }
}

.flow > * + * {
  margin-top: 1.5em;
}

small {
  font-size: 0.9rem;
}
