pre {
  margin: 3rem 0 4rem 0;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  border: 1px solid rgba($gray-light, 0.3);
  background-color: rgba($gray, 0.05);
  overflow: auto;
  transition: border 0.175s ease-out,
              background-color 0.175s 0.1s ease-out,
              box-shadow 0.175s 0.1s ease-out,
              color 0.175s ease-out;
  &:hover {
    border-color: rgba($green, 0.2);
    background-color: $gray;
    color: $green;
    box-shadow: 0 0 15px 0 rgba($gray, 0.7);
  }
}
