---
layout: base
eleventyNavigation:
  key: Home
  order: 1
permalink: /
---

<h1> Hi, I'm Chris.</h1>
<h2>I see you found my personal site. Sorry I don't have a fully updated site. I've been busy the last few years working at Aviture on Decision Logic.</h2>
