.masthead {
  p {
    font-size: 2.4rem;

    @include mq(s) {
      font-size: 4.8rem;
    }
  }
}

.article-list {
  list-style: none;
  padding: 1rem 3.5rem;
  margin: 0;
  border-left: 6px solid rgba($green, 0.5);

  h4 {
    margin: 0;
  }

  .subhead {
    margin: 2.5rem 0 1rem 0;
  }

  a {
    position: relative;
    color: $gray;
    text-decoration: none;
    border-bottom: 2px solid transparent;

    &:hover,
    &:focus {
      &:after {
        bottom: -1px;
        height: 10%;
        background-color: rgba($green, 0.25);
      }
    }

    &:after {
      display: inline-block;
      content: '';
      position: absolute;
      bottom: -1px;
      left: -6px;
      z-index: -1;
      height: 30%;
      width: calc(100% + 12px);
      background-color: $green;
      transition: bottom 0.25s ease-out, height 0.25s ease-out, background-color 0.25s ease-out;
    }
  }
}
