<!DOCTYPE html>

<html lang="en">

  {% include head.html %}

  <body>
    <header class="main-header">
      <nav class="main-nav" role="navigation">
        <ul class="wrapper">
          <li><a href="/">home</a></li>
          <li><a href="/articles.html">articles</a></li>
          <li><a href="/contact.html">contact</a></li>
        </ul>
      </nav>
      <div class="feature">

      </div>
    </header>
    <main id="main" role="main">

      {{ content }}

    </main>

    {% include sidebar.html %}

    {% include footer.html %}
    <script src="/js/scripts.min.js"></script>
  </body>
</html>
