---
layout: home.njk
---

<div class="c-hero">
  <div class="wrapper">
    <h1 class="c-hero__heading">Hi, I'm Chris. I'm a frontend engineer, mobile developer and cyclist</h1>
    <div class="c-hero__desc flow">
      <p class="subheading">I've been busy the last 7 years at <a href="https://www.aviture.us.com/">Aviture</a> working on <a href="https://decisionlogic.co/">Decision Logic</a> and now <a href="https://www.airforce.com/aim-high-app">Aim High</a>.</p>
      <p>I'm currently working on some site changes. In the mean time you can learn more about my professional life on <a href="https://www.linkedin.com/in/christopherkollars/">LinkedIn</a>.</p>
    </div>
  </h1>
</div>
