---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="c-hero">
  <div class="container">
    <h1 class="c-hero__heading">Hi, I'm Chris. I'm an frontend engineer, developer and cyclist</h1>
    <div class="c-hero__desc flow">
      <p class="subheading">I see you found my personal site. I've been busy the last few years working at <a href="https://www.aviture.us.com/">Aviture</a> on <s>Decision Logic</s> Aim High.</p>
      <p>Here is a few social links that might peek your interest while I work on getting more content.</p>
      <ul class="horizontal-list" role="list">
        <li><a href="https://www.linkedin.com/in/christopherkollars/">LinkedIn</a></li>
        <li><a href="/resume">Resume</a></li>
      </ul>
    </div>
  </h1>
</div>
