//  Site Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints

// 1. Global
// ---------
$global-font-size: 100%;
$global-width: 1000px;
$global-lineheight: 1.5;

// 2. Breakpoints
// ---------
/**
 * @type Map
 */
$breakpoints: (
  'xl': 1440px,
  'l': 1140px,
  'm': 880px,
  's': 700px,
  'xs': 420px
);
